html {
    height: 100%;
    background: white;
}

#calculator {
    width: 250px;
    height: 240px;
    margin: 100px auto;
    padding: 20px;
    background: #223c5f;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:
            inset 0 2px 3px rgba(255,255,255,0.3),
            inset 0 -2px 3px rgba(0,0,0,0.3),
            0 1px 1px rgba(255,255,255,0.9);
}

.display_area {
    height: 30px;
    width: 230px;
    background-color: white;
    display: block;
    border: none;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
    color: #333;
    box-shadow:
            inset 0 2px 0 rgba(0,0,0,.2),
            0 0 4px rgba(0,0,0,0.1);
    font: bold 17px Arial;
    text-align: right;
    letter-spacing: 1px;
}

span{
    margin: 5px;
    padding: 5px;
    display: inline-block;
    color: white;
    font-size:14px;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    transition: all 0.2s ease;
}

.clear, .clear_all{
    background-color: #fd8c3e;
    width: 71px;
    box-shadow: 0 3px #ff6800;
}
.numeric{
    background-color: #019283;
    width: 39px;
    box-shadow: 0 3px #00645a;
}
.decimal, .equal{
    background-color: #e97077;
    width: 39px;
    box-shadow: 0 3px #c24047;
}
.plus{
    background-color: #e97077;
    width: 39px;
    height: 52px;
    float: right;
    box-shadow: 0 3px #c24047;
}
.divide,.times,.minus{
    background-color: #e97077;
    float: right;
    width: 39px;
    box-shadow: 0 3px #c24047;
}